@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rufina:wght@400;700&display=swap');


@import "tailwindcss";

@theme {
    --font-roboto:"Roboto Slab","serif";
    --font-popping: "Poppins", "sans-serif";
    --font-rufina: "Rufina","";
}

@media print {

    /* 1. Hide the Sidebar and Header by their HTML tags or classes */
    nav,
    aside,
    header,
    footer,
    .sidebar,
    .navbar {
        display: none !important;
    }

    /* 2. Remove layout constraints (flex/grid) from the parent containers */
    body,
    #root,
    .dashboard-layout-container {
        /* Replace with your actual layout class if known */
        display: block !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    /* 3. Ensure the Invoice container expands to full width */
    .invoice-card {
        width: 100% !important;
        max-width: 100% !important;
        box-shadow: none !important;
        border: none !important;
    }
}